<div class="p-l-r-20">
  <mat-nav-list>
    <h3 matSubheader>Usuarios Deta</h3>
    <a mat-list-item *ngFor="let userDeta of usuarioDetaList">
      <mat-icon matListIcon>local_library</mat-icon>
      <h3 matLine> Codigo: {{userDeta.Codigo}} </h3>
      <p matLine class="demo-2"> Empresa: {{userDeta.EmpresaRuc}} </p>
      <p matLine class="demo-2"> Id del Tipo de Documento: {{userDeta.TipoDocId}} </p>
      <div fxLayout="row" fxLayoutGap="20px">
        <button mat-icon-button>
          <mat-icon (click)="openDialogEdit(userDeta)">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="delete(userDeta)">delete</mat-icon>
        </button>
      </div>
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>

  <div fxLayout="row" fxLayoutAlign="end center" class="button-add">
    <button (click)="openDialogCreate()" mat-raised-button color="primary">Adicionar</button>
  </div>
</div>
