<h2 mat-dialog-title>Crear Persona</h2>
<!--<div *ngIf="loading" class="m-t-10-p" fxLayoutAlign="center center">
  <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
</div>-->
<mat-dialog-content>
  <form #f="ngForm" class="example-form">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #Identificacion="ngModel" name="Identificacion" id="Identificacion" placeholder="Identificacion" required>
          <mat-error *ngIf="!Identificacion.valid && Identificacion.touched">
            The content field is required
          </mat-error>
        </mat-form-field>

        <div class="align-center">
          <mat-checkbox fxFlex="50" [checked]="activo" [(ngModel)]="activo"
                        (change)="valueChange()">Activo</mat-checkbox>
        </div>
      </div>

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput ngModel #Direccion="ngModel" name="Direccion" id="Direccion" placeholder="Direccion" required>
        <mat-error *ngIf="!Direccion.valid && Direccion.touched">
          The content field is required
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #Email="ngModel" name="Email" id="Email" placeholder="Email" required>
          <mat-error *ngIf="!Email.valid && Email.touched">
            The from field is required
          </mat-error>
        </mat-form-field>

        <div fxFlex="50" *ngIf="loadingCancelacionIds" fxLayoutAlign="center center">
          <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>
        </div>

        <mat-form-field *ngIf="!loadingCancelacionIds" fxFlex="50" class="example-full-width">
          <input matInput ngModel #FormaCancId="ngModel" type="number" name="FormaCancId" id="FormaCancId" placeholder="FormaCancId (select)" required>
          <mat-error *ngIf="!FormaCancId.valid && FormaCancId.touched">
            The content field is required
          </mat-error>
        </mat-form-field>
      </div>

      <!--<div fxLayout="row">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #PlacaModel="ngModel" name="PlacaModel" id="PlacaModel" placeholder="Add Placa">
        </mat-form-field>
        <button mat-icon-button>
          <mat-icon (click)="addPlaca()">add</mat-icon>
        </button>
      </div>
      <mat-chip-list>
        <mat-chip *ngFor="let placa of Placa">{{placa}}</mat-chip>
      </mat-chip-list>-->

      <div fxLayout="row">
        <mat-form-field fxFlex class="example-full-width">
          <input matInput ngModel #Placa="ngModel" name="Placa" id="Placa" placeholder="Adicionar Placas">
        </mat-form-field>
        <button mat-icon-button
                [matTooltipPosition]="'above'"
                matTooltip="Entre las placas separadas por comas ',' ejemplo: placa1, placa2, placa3">
          <mat-icon>help</mat-icon>
        </button>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #RazonSocial="ngModel" name="RazonSocial" id="RazonSocial" placeholder="Razón Social">
          <mat-error *ngIf="!RazonSocial.valid && RazonSocial.touched">
            The content field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #NombreComercial="ngModel" name="NombreComercial" id="NombreComercial" placeholder="Nombre Comercial" required>
          <mat-error *ngIf="!NombreComercial.valid && NombreComercial.touched">
            The content field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #Telfonos="ngModel" name="Telfonos" id="Telfonos" placeholder="Teléfonos">
        </mat-form-field>

        <div fxFlex="50" *ngIf="loadingIdenTypeIds" fxLayoutAlign="center center">
          <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>
        </div>

        <mat-form-field *ngIf="!loadingIdenTypeIds" fxFlex="50" class="example-full-width">
          <input matInput ngModel #TipoIdenId="ngModel" name="TipoIdenId" id="TipoIdenId" placeholder="TipoIdenId (select)" required>
        </mat-form-field>
      </div>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onSubmit()">Adicionar</button>
</mat-dialog-actions>
