<h2 mat-dialog-title>Crear Persona</h2>
<!--<div *ngIf="loading" class="m-t-10-p" fxLayoutAlign="center center">
  <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
</div>-->
<mat-dialog-content>
  <form #f="ngForm">
    <div fxLayout="row wrap" fxLayout.xs="column">
      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%;">
          <mat-select placeholder="Tipo de Identificación" name="TipoIdenId"  required ngModel #TipoIdenId="ngModel">
            <mat-option *ngFor="let tipo of tiposIdentificacion" [value]="tipo.id">
              {{tipo.Tipo}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!TipoIdenId.valid && TipoIdenId.touched">
            El Tipo de Identificación es requerido
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput ngModel #Identificacion="ngModel" name="Identificacion"
                 placeholder="Identificacion" required>
          <mat-error *ngIf="!Identificacion.valid && Identificacion.touched">
            La Identificación es requerida
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput ngModel #RazonSocial="ngModel" name="RazonSocial" placeholder="Razón Social">
          <mat-error *ngIf="!RazonSocial.valid && RazonSocial.touched">
            La Razón Social es requerida
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput ngModel #NombreComercial="ngModel" name="NombreComercial"
                 placeholder="Nombre Comercial" required>
          <mat-error *ngIf="!NombreComercial.valid && NombreComercial.touched">
            El Nombre Comercial es requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput ngModel #Telefonos="ngModel" name="Telefonos" placeholder="Teléfono" required>
          <mat-error *ngIf="!Telefonos.valid && Telefonos.touched">
            El Teléfono Comercial es requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput ngModel #Email="ngModel" name="Email" placeholder="Email" required>
          <mat-error *ngIf="!Email.valid && Email.touched">
            El Email es requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput ngModel #Direccion="ngModel" name="Direccion" id="Direccion" placeholder="Direccion" required>
          <mat-error *ngIf="!Direccion.valid && Direccion.touched">
            La Dirección es requerida
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <mat-select placeholder="Forma de Cancelación" name="FormaCancId" required ngModel #FormaCancId="ngModel">
            <mat-option *ngFor="let formaCancelacion of formasCancelacion" [value]="formaCancelacion.id">
              {{formaCancelacion.Nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!FormaCancId.valid && FormaCancId.touched">
            La Forma de Cancelación es requerida
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <mat-select placeholder="Vehículos" ngModel #vehiculos="ngModel" multiple name="vehiculos">
            <mat-option *ngFor="let vehiculo of cars" [value]="vehiculo.id">
              {{vehiculo.Nombre}} {{vehiculo.Placa}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-checkbox [ngModel]="true" #Activo="ngModel" name="Activo" style="width: 100%">Activo
        </mat-checkbox>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onSubmit()">Adicionar</button>
</mat-dialog-actions>
