<h2 mat-dialog-title>Crear Empresa</h2>
<mat-dialog-content>
  <form #f="ngForm" class="example-form">
    <div fxLayout="column">

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #Ruc="ngModel" name="Ruc" maxlength="13"
                 placeholder="Registro Único de Contribuyentes" required>
          <mat-hint>Máximo 13 caracteres</mat-hint>
          <mat-error *ngIf="!Ruc.valid && Ruc.touched">
            El Ruc es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #CodigoContribuyenteEspecial="ngModel" maxlength="6"
                 name="CodigoContribuyenteEspecial" placeholder="Codigo Contribuyente Especial">
          <mat-hint>Máximo 6 caracteres</mat-hint>
        </mat-form-field>
      </div>

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput ngModel #Direccion="ngModel" name="Direccion"
               placeholder="Dirección" required>
        <mat-error *ngIf="!Direccion.valid && Direccion.touched">
          La Dirección es requerida
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #RazonSocial="ngModel" name="RazonSocial"
                 placeholder="Razón Social" required>
          <mat-error *ngIf="!RazonSocial.valid && RazonSocial.touched">
            La Razón Social es requerida
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #NombreComercial="ngModel" name="NombreComercial"
                 placeholder="Nombre Comercial" required>
          <mat-error *ngIf="!NombreComercial.valid && NombreComercial.touched">
            El Nombre Comercial es requerido
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #Telefonos="ngModel" name="Telefonos" maxlength="25" placeholder="Teléfono" required>
          <mat-hint>Máximo 25 caracteres</mat-hint>
          <mat-error *ngIf="!Telefonos.valid && Telefonos.touched">
            El Teléfono es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #Email="ngModel" name="Email" placeholder="Email">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-checkbox fxFlex="50"  [ngModel]="true" name="ContabilidadObligado" #ContabilidadObligado="ngModel"
                      (change)="changeContaObligado()">Contabilidad Obligado</mat-checkbox>

        <div class="align-center">
          <mat-checkbox fxFlex="50" [ngModel]="true" name="Activo" #Activo="ngModel"
                        (change)="changeActivo()">Activo</mat-checkbox>
        </div>
      </div>
      <div fxLayout="row" class="m-t-10" fxLayoutGap="10px" fxLayoutAlign="end center">
        <button mat-button [mat-dialog-close]>Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onSubmit()">Adicionar</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
<!--<mat-dialog-actions align="end">-->
  <!--<button mat-button [mat-dialog-close]>Cancelar</button>-->
  <!--<button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onSubmit()">Adicionar</button>-->
<!--</mat-dialog-actions>-->
