<h2 mat-dialog-title>Crear relación Vehículo-Persona</h2>
<mat-dialog-content>
  <form #f="ngForm" class="example-form">
    <div fxLayout="column">

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput ngModel #Placa="ngModel" name="Placa" type="number" id="Placa" placeholder="Placa" required>
        <mat-error *ngIf="!Placa.valid && Placa.touched">
          The content field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput ngModel #PersonaId="ngModel" name="PersonaId" id="PersonaId" placeholder="Id de la persona" required>
        <mat-error *ngIf="!PersonaId.valid && PersonaId.touched">
          The content field is required
        </mat-error>
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onSubmit()">Adicionar</button>
</mat-dialog-actions>


