<div class="p-l-r-20">
  <div fxLayout="row wrap"  fxLayout.xs="column">
    <div fxFlex="50" fxFlex.xs="100">
      <h4>Tipos de Identificación</h4>
    </div>
    <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="end center">
      <button (click)="openDialogCreate()" mat-raised-button color="primary">Adicionar</button>
    </div>

  </div>
  <mat-table [dataSource]="identificationTypeList" *ngIf="!loading">

    <ng-container cdkColumnDef="id">
      <mat-header-cell *cdkHeaderCellDef> Id</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.id}}</mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="tipo">
      <mat-header-cell *cdkHeaderCellDef> Tipo</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.Tipo}}</mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="acciones">
      <mat-header-cell *cdkHeaderCellDef> Acciones</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <div fxLayout="row" class="action-column">
          <mat-icon matTooltip="Actualizar" color="accent" (click)="openDialogEdit(row)">edit</mat-icon>
          <mat-icon matTooltip="Eliminar" color="warn" (click)="delete(row)">delete</mat-icon>

        </div>
      </mat-cell>
    </ng-container>



    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>


  <div *ngIf="loading" class="m-t-10-p" fxLayoutAlign="center center">
    <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
  </div>

</div>
