<mat-nav-list>
  <h3 matSubheader>Usuarios</h3>
  <a mat-list-item *ngFor="let vehiculo of vehiculoList">
    <mat-icon matListIcon>receipt</mat-icon>
    <h3 matLine> {{vehiculo.Nombre}} </h3>
    <p matLine class="demo-2"> {{vehiculo.Placa}} </p>
    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-icon-button>
        <mat-icon (click)="openDialogEdit()">edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon (click)="delete()">delete</mat-icon>
      </button>
    </div>
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
