
<h2 mat-dialog-title>Crear Tipo de Documento</h2>
<mat-dialog-content>
  <form #f="ngForm" class="example-form">
    <div fxLayout="column">

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput [ngModel]="data.id" #id="ngModel" maxlength="10" name="id" placeholder="Id" required>
        <mat-hint>Máximo 10 caracteres</mat-hint>
        <mat-error *ngIf="!id.valid && id.touched">
          El Id es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput [ngModel]="data.Documento" #Documento="ngModel" name="Documento"
               placeholder="Tipo de documento" required>
        <mat-error *ngIf="!Documento.valid && Documento.touched">
          El Tipo de Documento es requerido
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-checkbox fxFlex="50" [ngModel]="data.Venta" #Venta="ngModel" name="Venta"
                      >Venta</mat-checkbox>

        <div class="align-center">
          <mat-checkbox fxFlex="50" [ngModel]="data.Compra" #Compra="ngModel" name="Compra"
                        >Compra</mat-checkbox>
        </div>
      </div>
      <div fxLayout="row" class="m-t-20" fxLayoutGap="10px" fxLayoutAlign="end center">
        <button mat-button [mat-dialog-close]>Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onSubmit()">Actualizar</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
