<h2 mat-dialog-title>Editar Usuario</h2>
<!--<div *ngIf="loading" class="m-t-10-p" fxLayoutAlign="center center">
  <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
</div>-->
<mat-dialog-content>
  <form #f="ngForm">
    <div fxLayout="row wrap" fxLayout.xs="column">

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput [ngModel]="data.email" #email="ngModel" name="email"
                 placeholder="Email" required>
          <mat-error *ngIf="!email.valid && email.touched">
            El Email es requerido
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput [ngModel]="data.username" #username="ngModel" name="username"
                 placeholder="Nombre de Usuario" required>
          <mat-error *ngIf="!username.valid && username.touched">
            El Nombre de Usuario es requerido
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%;">
          <mat-select placeholder="Persona" name="persona" required [ngModel]="data.PersonaId.id" #persona="ngModel">
            <mat-option *ngFor="let person of personas" [value]="person.id">
              {{person.Identificacion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!persona.valid && persona.touched">
            La Persona es requerida
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%;">
          <mat-select placeholder="Empresa" name="empresa" required [ngModel]="data.EmpresaRuc.Ruc" #empresa="ngModel">
            <mat-option *ngFor="let emp of empresas" [value]="emp.Ruc">
              {{emp.NombreComercial}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!empresa.valid && empresa.touched">
            La Empresa es requerida
          </mat-error>
        </mat-form-field>
      </div>


      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput [ngModel]="data.first_name" #first_name="ngModel" name="first_name" placeholder="Nombre">
          <mat-error *ngIf="!first_name.valid && first_name.touched">
            El Nombre es requerido
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput [ngModel]="data.last_name" #last_name="ngModel" name="last_name"
                 placeholder="Apellido" required>
          <mat-error *ngIf="!last_name.valid && last_name.touched">
            El Apellido es requerido
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <mat-select placeholder="Roles" [ngModel]="data.RolId" #rol="ngModel" multiple name="rol">
            <mat-option *ngFor="let role of roles" [value]="role.Rol">
              {{role.Rol}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput ngModel #password1="ngModel" name="password1"
                 type="password" placeholder="Contraseña" required>
          <mat-error *ngIf="!password1.valid && password1.touched">
            La Contraseña es requerida
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="47" fxFlex.xs="100" style="margin: 3px">
        <mat-form-field style="width: 100%">
          <input matInput ngModel #password2="ngModel" name="password2"
                 type="password" placeholder="Repetir Contraseña" required>
          <mat-error *ngIf="password2.touched && password2.value != password1.value">
            Las Contraseñas deben ser iguales
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!f.valid || password1.value != password2.value" (click)="onSubmit()">Adicionar</button>
</mat-dialog-actions>
