<!-- Material Table BEGIN -->
<mat-table [dataSource]="data">

  <ng-container cdkColumnDef="tipo">
    <mat-header-cell *cdkHeaderCellDef> Tipo</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.TipoComprobanteId.Documento}}</mat-cell>
  </ng-container>
  <ng-container cdkColumnDef="numero">
    <mat-header-cell *cdkHeaderCellDef> Número</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.Numero}}</mat-cell>
  </ng-container>
  <ng-container cdkColumnDef="fecha">
    <mat-header-cell *cdkHeaderCellDef> Fecha</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.Fecha}}</mat-cell>
  </ng-container>
  <ng-container cdkColumnDef="vendedor">
    <mat-header-cell *cdkHeaderCellDef> Vendedor</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.VendedorId.Codigo}}</mat-cell>
  </ng-container>
  <ng-container cdkColumnDef="cliente">
    <mat-header-cell *cdkHeaderCellDef> Cliente</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.PersonaId?.NombreComercial}}</mat-cell>
  </ng-container>
  <ng-container cdkColumnDef="total">
    <mat-header-cell *cdkHeaderCellDef>Total  </mat-header-cell>
    <mat-cell *cdkCellDef="let row" class="text-warn"> ${{row.Total}}</mat-cell>
  </ng-container>
  <ng-container cdkColumnDef="acciones">
    <mat-header-cell *cdkHeaderCellDef> Acciones</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="row" class="action-column">
        <mat-icon matTooltip="Actualizar" color="accent" (click)="onUpdate(row.id)">edit</mat-icon>
        <mat-icon matTooltip="Eliminar" color="warn" (click)="onDelete(row.id)">delete</mat-icon>
      </div>
    </mat-cell>
  </ng-container>



  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<div *ngIf="!data.length">No se encontraron resultados</div>

