<div class="sign-container">
  <!--<img src="./assets/img/logo/dark-background-logo.png"
       class="dark-background sign-logo">
  <img src="./assets/img/logo/light-background-logo.png"
       class="light-background sign-logo">-->
  <mat-card class="sign-card" fxFlex="280px" fxFlex.gt-xs="380px">
    <mat-card-title>Entrar</mat-card-title>
    <mat-card-subtitle>Inserte su Usuario y Contraseña</mat-card-subtitle>
    <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm.value)">
      <mat-card-content style="margin-bottom: 8px">
        <mat-form-field style="width: 100%">
          <input matInput type="text" name="username" placeholder="Usuario o email" #username="ngModel" [ngModel]="" required>
        </mat-form-field>
        <section *ngIf="username.invalid && username.dirty" class="bs">
          <p class="text-danger text-left" *ngIf="username.hasError('required')">
            Usuario es requerido.
          </p>
        </section>
        <mat-form-field style="width: 100%;">
          <input matInput type="password" name="password" placeholder="Contraseña" #password="ngModel" [ngModel]="" required>
        </mat-form-field>
        <section *ngIf="password.invalid && password.dirty" class="bs">
          <p class="text-danger text-left" *ngIf="password.hasError('required')">
            Contraseña es requerido.
          </p>
        </section>
      </mat-card-content>
      <mat-card-actions style="margin: 0;padding: 0">
        <button mat-raised-button color="primary" class="form-button"
                [disabled]="signInForm.invalid && loading">
          <mat-spinner [diameter]="20" *ngIf="loading" color="accent"></mat-spinner>Entrar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
