<h2 mat-dialog-title>Editar Item</h2>
<mat-dialog-content>
  <form #f="ngForm" class="example-form">
    <div fxLayout="column">

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput [ngModel]="data.Nombre" #Nombre="ngModel" name="Nombre" placeholder="Nombre" required>
        <mat-error *ngIf="!Nombre.valid && Nombre.touched">
          El Nombre es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput [ngModel]="data.Descripcion" #Descripcion="ngModel" name="Descripcion" placeholder="Descripcion" required>
        <mat-error *ngIf="!Descripcion.valid && Descripcion.touched">
           La Descripción es requerida
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput [ngModel]="data.Codigo" #Codigo="ngModel" name="Codigo" placeholder="Código" required>
          <mat-error *ngIf="!Codigo.valid && Codigo.touched">
            El Código es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput [ngModel]="data.Precio" #Precio="ngModel" name="Precio" placeholder="Precio" required>
          <mat-error *ngIf="!Precio.valid && Precio.touched">
            El Precio es requerido
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput [ngModel]="data.PorcientoIva" #PorcientoIva="ngModel" name="PorcientoIva"
               placeholder="Porciento Iva" required>
        <mat-error *ngIf="!PorcientoIva.valid && PorcientoIva.touched">
          El Porciento Iva es requerido
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="10px">
        <div class="align-center">
          <mat-checkbox fxFlex="50" [ngModel]="data.Venta" #Venta="ngModel" name="Venta"
                        >Venta</mat-checkbox>
        </div>

        <div class="align-center">
          <mat-checkbox fxFlex="50" [(ngModel)]="data.Compra" #Compra="ngModel" name="Compra"
                        >Compra</mat-checkbox>
        </div>
      </div>

      <div fxLayout="row" class="m-t-10" fxLayoutGap="10px" fxLayoutAlign="end center">
        <button mat-button [mat-dialog-close]>Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onSubmit()">Actualizar</button>
      </div>
    </div>
  </form>
</mat-dialog-content>



