/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

body {
  margin: 0px;
}
.p-l-r-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.button-add {
  margin-top: 20px;
  margin-right: 20px;
}

.m-t-10-p {
  margin-top: 10%;
}
