<table class="table table-hover table-middle th-fw-light mb-0">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let formaPago of data">
    <td>{{formaPago.id}}</td>
    <td>{{formaPago.Nombre}}</td>
    <td>
      <mat-icon color="accent" (click)="onUpdate(formaPago)" style="cursor: pointer">edit</mat-icon>
      <mat-icon color="warn" (click)="onDelete(formaPago.id)" style="cursor: pointer">delete</mat-icon>
    </td>
  </tr>
  </tbody>
</table>