<div class="p-l-r-20">
  <mat-nav-list>
    <h3 matSubheader>Personas</h3>
    <a mat-list-item *ngFor="let person of personaList">
      <mat-icon matListIcon>people</mat-icon>
      <h3 matLine> {{person.NombreComercial}} </h3>
      <p matLine class="demo-2"> Email: {{person.Email}} </p>
      <p matLine class="demo-2"> Identificacion: {{person.Identificacion}} </p>
      <div fxLayout="row" fxLayoutGap="20px">
        <button mat-icon-button>
          <mat-icon (click)="openDialogEdit(person)">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="delete()">delete</mat-icon>
        </button>
      </div>
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>

  <div *ngIf="loading" class="m-t-10-p" fxLayoutAlign="center center">
    <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" class="button-add">
    <button (click)="openDialogCreate()" mat-raised-button color="primary">Adicionar</button>
  </div>
</div>
