<h2 mat-dialog-title>Crear Tipo de Identificación</h2>
<mat-dialog-content>
  <form #f="ngForm" class="example-form">
    <div fxLayout="column">

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput [ngModel]="idenType.Id" #Id="ngModel" name="Id" id="Id" maxlength="10" placeholder="Id" required>
        <mat-hint>Máximo 10 caracteres</mat-hint>
        <mat-error *ngIf="!Id.valid && Id.touched">
          The content field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput [ngModel]="idenType.Tipo" #Tipo="ngModel" maxlength="20" name="Tipo" id="Tipo" placeholder="Tipo de identificación" required>
        <mat-hint>Máximo 20 caracteres</mat-hint>
        <mat-error *ngIf="!Tipo.valid && Tipo.touched">
          The content field is required
        </mat-error>
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onSubmit()">Adicionar</button>
</mat-dialog-actions>


