<mat-card>
  <form #comprobantesForm="ngForm" (submit)="onSubmit(comprobantesForm.value)">
    <mat-card-content>
      <div fxLayout="row wrap">
        <div fxFlex="100" style="margin: 3px" fxLayoutAlign="end end">
          <h4 class="text-warn">{{numeroComprobante}}</h4>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column">

        <div fxFlex="10" fxFlex.xs="100"></div>

        <div fxFlex="32" fxFlex.xs="100" style="margin: 3px">
          <mat-form-field class="input-form">
            <mat-select placeholder="Concepto" required
                        name="tipodoc" [ngModel]="comprobante.tipodoc"
                        #tipodoc="ngModel">
              <mat-option *ngFor="let tipo of tipos" [value]="tipo.id" (click)="selectTipo(tipo.Documento)">
                {{tipo.Documento}}
              </mat-option>

            </mat-select>
            <div class="validation-text" *ngIf="tipodoc.invalid && (tipodoc.dirty || tipodoc.touched)">
              <div *ngIf="tipodoc.errors['required']">
                El tipo de documento es requerido.
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.xs="column">

        <div fxFlex="10" fxFlex.xs="100"></div>

        <div fxFlex="32" fxFlex.xs="100" style="margin: 3px">
          <div fxFlex="85">
            <mat-form-field class="input-form">
              <mat-select placeholder="Cliente" required
                          name="Identificacion" [ngModel]="comprobante.Identificacion"
                          #Identificacion="ngModel">
                <mat-option *ngFor="let cliente of personas" [value]="cliente.Identificacion"
                            (click)="selectCliente(cliente)">
                  {{cliente.NombreComercial}}
                </mat-option>

              </mat-select>
              <div class="validation-text"
                   *ngIf="Identificacion.invalid && (Identificacion.dirty || Identificacion.touched)">
                <div *ngIf="Identificacion.errors['required']">
                  La Identificación es requerida.
                </div>
              </div>
            </mat-form-field>
          </div>
          <div fxFlex="15" fxLayoutAlign="center end">
            <mat-icon [class.text-accent]="Identificacion.valid" (click)="openClientDetailsDialog()"
                      style="cursor: pointer">details
            </mat-icon>
          </div>

        </div>

        <div fxFlex="10" fxFlex.xs="100"></div>

        <div fxFlex="32" fxFlex.xs="100" style="margin: 3px">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha"
                   name="Fecha" #Fecha="ngModel" [ngModel]="comprobante.Fecha" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column" style="margin-bottom: 15px">

        <div fxFlex="10" fxFlex.xs="100"></div>

        <div fxFlex="32" fxFlex.xs="100" style="margin: 3px">
          <mat-form-field class="input-form">
            <mat-select placeholder="Forma de Pago" required
                        name="foma_pago" [ngModel]="comprobante.forma_pago"
                        #forma_pago="ngModel">
              <mat-option *ngFor="let formaPago of formasPago" [value]="formaPago.id">
                {{formaPago.Nombre}}
              </mat-option>

            </mat-select>
            <div class="validation-text"
                 *ngIf="forma_pago.invalid && (forma_pago.dirty || forma_pago.touched)">
              <div *ngIf="forma_pago.errors['required']">
                La forma pago es requerida.
              </div>
            </div>
          </mat-form-field>
        </div>

        <div fxFlex="10" fxFlex.xs="100"></div>

        <div fxFlex="32" fxFlex.xs="100" style="margin: 3px">
          <mat-form-field class="input-form">
            <mat-select placeholder="Vendedor" required
                        name="vendedor" [ngModel]="comprobante.vendedor"
                        #vendedor="ngModel">
              <mat-option *ngFor="let usuario of usuariosDeta" [value]="usuario.Codigo">
                {{usuario.Codigo}}
              </mat-option>

            </mat-select>
            <div class="validation-text"
                 *ngIf="vendedor.invalid && (vendedor.dirty || vendedor.touched)">
              <div *ngIf="vendedor.errors['required']">
                El Vendedor es requerido
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>

      <mat-divider></mat-divider>
      <div fxLayout="row wrap">
        <div fxFlex="50">
          <h4>Detalles</h4>
        </div>
        <div fxFlex="50" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" type="button"
                  (click)="onAgregarDetalle()">Agregar
          </button>
        </div>
      </div>

      <div style="margin-top: 30px">
        <!-- Material Table BEGIN -->
        <mat-table [dataSource]="detallesDataSource">

          <ng-container cdkColumnDef="item">
            <mat-header-cell *cdkHeaderCellDef> Item</mat-header-cell>
            <mat-cell *cdkCellDef="let row; let i = index">
              <mat-form-field class="input-form mat-form-field--fit-width">
                <mat-select  required
                            [name]="row.name + '_item_' + i" [(ngModel)]="row.ItemId">
                  <mat-option *ngFor="let item of items" [value]="item.Codigo" (click)="selectItem(item, row)">
                    {{item.Nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="precio">
            <mat-header-cell *cdkHeaderCellDef> Precio</mat-header-cell>
            <mat-cell *cdkCellDef="let row; let i = index" class="text-warn"> ${{row.precio | round: 2}}</mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="cantidad">
            <mat-header-cell *cdkHeaderCellDef> Cantidad</mat-header-cell>
            <mat-cell *cdkCellDef="let row; let i = index">
              <mat-form-field class="input-form mat-form-field--fit-width">
                <input matInput  type="number" [(ngModel)]="row.Cantidad"
                       [name]="row.name + '_cantidad_' + i" [min]="1">
              </mat-form-field>

            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="subtotal">
            <mat-header-cell *cdkHeaderCellDef> Subtotal</mat-header-cell>
            <mat-cell *cdkCellDef="let row; let i = index"> {{row.Subtotal | round: 2}}</mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="descuento">
            <mat-header-cell *cdkHeaderCellDef> Descuento (%)</mat-header-cell>
            <mat-cell *cdkCellDef="let row; let i = index">
              <mat-form-field class="input-form mat-form-field--fit-width">
                <input matInput  type="number" [(ngModel)]="row.Descuento"
                       [name]="row.name + '_descuento_' + i" [min]="0">
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="descuentoTotal">
            <mat-header-cell *cdkHeaderCellDef> Descuento</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.descuentoTotal | round: 2}}</mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="iva">
            <mat-header-cell *cdkHeaderCellDef> IVA (%)</mat-header-cell>
            <mat-cell *cdkCellDef="let row; let i = index">
              <mat-form-field class="input-form mat-form-field--fit-width">
                <mat-select  required
                             [name]="row.name + '_iva_' + i" [(ngModel)]="row.Iva">
                  <mat-option  [value]="0">0%</mat-option>
                  <mat-option  [value]="12">12%</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="total">
            <mat-header-cell *cdkHeaderCellDef>Total</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.Total | round: 2}}</mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="acciones">
            <mat-header-cell *cdkHeaderCellDef> Acciones</mat-header-cell>
            <mat-cell *cdkCellDef="let row; let i = index">
              <div fxLayout="row" class="action-column">
                <mat-icon matTooltip="Eliminar" color="warn" (click)="removeDetail(i)">close</mat-icon>
              </div>
            </mat-cell>
          </ng-container>


          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <div fxLayout="row wrap" fxLayout.xs="column" style="margin-top: 10px">
          <div fxFlex="60" fxFlex.xs="100"></div>
          <div fxFlex="40" fxFlex.xs="100">
            <mat-card>
              <mat-card-content>
                <div fxLayout="row wrap">
                  <div fxFlex="50">Subtotal IVA</div>
                  <div fxFlex="50" fxLayoutAlign="center end">{{calculos.subtotalIva | round: 2}}</div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex="50">Subtotal IVA 0</div>
                  <div fxFlex="50" fxLayoutAlign="center end">{{calculos.subtotalIva0 | round: 2}}</div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex="50">Subtotal</div>
                  <div fxFlex="50" fxLayoutAlign="center end">{{calculos.subtotal | round: 2}}</div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex="50">Descuento</div>
                  <div fxFlex="50" fxLayoutAlign="center end">{{calculos.descuento | round: 2}}</div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex="50">Total</div>
                  <div fxFlex="50" fxLayoutAlign="center end">{{calculos.total | round: 2}}</div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    </mat-card-content>

    <mat-card-footer>

      <div fxLayout="row" fxLayout.xs="column" fxFlex class="form-buttons-container">

        <button class="form-button" [disabled]="comprobantesForm.invalid"
                type="submit" mat-button mat-raised-button color="primary">
          Aceptar
        </button>

        <button
          class="form-button"
          type="button" mat-button mat-raised-button
          color="warn" (click)="onCancel()">
          Cancelar
        </button>

      </div>

    </mat-card-footer>

  </form>

</mat-card>
