<mat-card>
  <form #comprobantesForm="ngForm" (submit)="onSubmit(comprobantesForm.value)">
    <mat-card-content>
      <div fxLayout="row wrap">
        <div fxFlex="100" style="margin: 3px" fxLayoutAlign="end end">
          <h4 class="text-warn">{{numeroComprobante}}</h4>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column">

        <div fxFlex="10" fxFlex.xs="100"></div>

        <div fxFlex="32" fxFlex.xs="100" style="margin: 3px">
          <mat-form-field class="input-form">
            <mat-select placeholder="Concepto" required
                        name="tipodoc" [ngModel]="comprobante.tipodoc"
                        #tipodoc="ngModel">
              <mat-option *ngFor="let tipo of tipos" [value]="tipo.id" (click)="selectTipo(tipo.Documento)">
                {{tipo.Documento}}
              </mat-option>

            </mat-select>
            <div class="validation-text" *ngIf="tipodoc.invalid && (tipodoc.dirty || tipodoc.touched)">
              <div *ngIf="tipodoc.errors['required']">
                El tipo de documento es requerido.
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.xs="column">

        <div fxFlex="10" fxFlex.xs="100"></div>

        <div fxFlex="32" fxFlex.xs="100" style="margin: 3px">
          <div fxFlex="85">
            <mat-form-field class="input-form">
              <mat-select placeholder="Cliente" required
                          name="Identificacion" [ngModel]="comprobante.Identificacion"
                          #Identificacion="ngModel">
                <mat-option *ngFor="let cliente of personas" [value]="cliente.Identificacion"
                            (click)="selectCliente(cliente)">
                  {{cliente.NombreComercial}}
                </mat-option>

              </mat-select>
              <div class="validation-text"
                   *ngIf="Identificacion.invalid && (Identificacion.dirty || Identificacion.touched)">
                <div *ngIf="Identificacion.errors['required']">
                  La Identificación es requerida.
                </div>
              </div>
            </mat-form-field>
          </div>
          <div fxFlex="15" fxLayoutAlign="center end">
            <mat-icon [class.text-accent]="Identificacion.valid" (click)="openClientDetailsDialog()"
                      style="cursor: pointer">details
            </mat-icon>
          </div>

        </div>

        <div fxFlex="10" fxFlex.xs="100"></div>

        <div fxFlex="32" fxFlex.xs="100" style="margin: 3px">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha"
                   name="Fecha" #Fecha="ngModel" [ngModel]="comprobante.Fecha" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column" style="margin-bottom: 15px">

        <div fxFlex="10" fxFlex.xs="100"></div>

        <div fxFlex="32" fxFlex.xs="100" style="margin: 3px">
          <mat-form-field class="input-form">
            <mat-select placeholder="Forma de Pago" required
                        name="foma_pago" [ngModel]="comprobante.forma_pago"
                        #forma_pago="ngModel">
              <mat-option *ngFor="let formaPago of formasPago" [value]="formaPago.id">
                {{formaPago.Nombre}}
              </mat-option>

            </mat-select>
            <div class="validation-text"
                 *ngIf="forma_pago.invalid && (forma_pago.dirty || forma_pago.touched)">
              <div *ngIf="forma_pago.errors['required']">
                La forma pago es requerida.
              </div>
            </div>
          </mat-form-field>
        </div>

        <div fxFlex="10" fxFlex.xs="100"></div>

        <div fxFlex="32" fxFlex.xs="100" style="margin: 3px">
          <mat-form-field class="input-form">
            <mat-select placeholder="Vendedor" required
                        name="vendedor" [ngModel]="comprobante.vendedor"
                        #vendedor="ngModel">
              <mat-option *ngFor="let usuario of usuariosDeta" [value]="usuario.Codigo">
                {{usuario.Codigo}}
              </mat-option>

            </mat-select>
            <div class="validation-text"
                 *ngIf="vendedor.invalid && (vendedor.dirty || vendedor.touched)">
              <div *ngIf="vendedor.errors['required']">
                El Vendedor es requerido
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>

      <mat-divider></mat-divider>
      <div fxLayout="row wrap">
        <div fxFlex="50">
          <h4>Detalles</h4>
        </div>
        <div fxFlex="50" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" type="button"
                  (click)="onAgregarDetalle()">Agregar</button>
        </div>
      </div>

      <div style="margin-top: 30px">
        <!-- Material Table BEGIN -->
        <mat-table [dataSource]="detalles">

          <ng-container cdkColumnDef="item">
            <mat-header-cell *cdkHeaderCellDef> Item</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
              <mat-form-field class="input-form">
                <mat-select placeholder="Item" required
                            [name]="row.name + '_item_'" [(ngModel)]="row.ItemId">
                  <mat-option *ngFor="let item of items" [value]="item.Codigo" (click)="selectItem(item, row)">
                    {{item.Nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="precio">
            <mat-header-cell *cdkHeaderCellDef> Precio</mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="text-warn"> ${{row.precio}}</mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="cantidad">
            <mat-header-cell *cdkHeaderCellDef> Cantidad</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
              <mat-form-field class="input-form">
                <input matInput placeholder="Cantidad" type="number" [(ngModel)]="detalle.Cantidad"
                       [name]="detalle.name + '_cantidad_'" [min]="1">
              </mat-form-field>

            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="municipio">
            <mat-header-cell *cdkHeaderCellDef> Municipio</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.unidad.ueb.empresa.municipio.nombre}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="unidad">
            <mat-header-cell *cdkHeaderCellDef> Unidad</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.unidad.nombre}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="ettp">
            <mat-header-cell *cdkHeaderCellDef> Ettp </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.unidad.ueb.empresa.ettp.nombre}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="empresa">
            <mat-header-cell *cdkHeaderCellDef> Empresa</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.unidad.ueb.empresa.nombre}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="ueb">
            <mat-header-cell *cdkHeaderCellDef> Ueb</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.unidad.ueb.nombre}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="acciones">
            <mat-header-cell *cdkHeaderCellDef> Acciones</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
              <div fxLayout="row" class="action-column">
                <mat-icon matTooltip="Actualizar" color="accent" (click)="onUpdate(row.id)">edit</mat-icon>
                <mat-icon matTooltip="Eliminar" color="warn" (click)="onDelete(row.id)">delete</mat-icon>

              </div>
            </mat-cell>
          </ng-container>



          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div fxLayout="row wrap" fxLayout.xs="column" *ngFor="let detalle of detalles; let i = index">
          <div fxFlex="10" fxFlex.xs="100" style="margin: 3px">

          </div>
          <div fxFlex="10" fxFlex.xs="100" style="margin: 3px">
            <mat-form-field class="input-form">
              <input matInput placeholder="Subtotal" type="number" [(ngModel)]="detalle.Subtotal"
                     [name]="detalle.name + '_subtotal_' + i" [min]="1" disabled>
            </mat-form-field>

          </div>

          <div fxFlex="10" fxFlex.xs="100" style="margin: 3px">
            <mat-form-field class="input-form">
              <input matInput placeholder="Descuento (%)" type="number" [(ngModel)]="detalle.Descuento"
                     [name]="detalle.name + '_descuento_' + i" [min]="0">
            </mat-form-field>

          </div>
          <div fxFlex="10" fxFlex.xs="100" style="margin: 3px">
            <mat-form-field class="input-form">
              <input matInput placeholder="Descuento" type="number" [ngModel]="detalle.descuentoTotal"
                     [name]="detalle.name + '_descuento1_' + i" [min]="0" disabled>
            </mat-form-field>

          </div>

          <div fxFlex="10" fxFlex.xs="100" style="margin: 3px">
            <mat-form-field class="input-form">
              <input matInput placeholder="IVA (%)" type="number" [(ngModel)]="detalle.Iva"
                     [name]="detalle.name + '_iva_' + i" [min]="0">
            </mat-form-field>

          </div>

          <div fxFlex="10" fxFlex.xs="100" style="margin: 3px">
            <mat-form-field class="input-form">
              <input matInput placeholder="Total" type="number" [(ngModel)]="detalle.Total"
                     [name]="detalle.name + '_total_' + i" [min]="0">
            </mat-form-field>

          </div>

          <div fxFlex="5" fxFlex.xs="100" style="margin: 3px">
            <mat-icon color="warn" (click)="removeDetail(i)" style="cursor: pointer;">close</mat-icon>

          </div>

        </div>
        <div fxLayout="row wrap" fxLayout.xs="column">
          <div fxFlex="60" fxFlex.xs="100"></div>
          <div fxFlex="40" fxFlex.xs="100">
            <mat-card>
              <mat-card-content>
                <div fxLayout="row wrap">
                  <div fxFlex="50">Subtotal IVA</div>
                  <div fxFlex="50" fxLayoutAlign="center end">{{calculos.subtotalIva}}</div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex="50">Subtotal IVA 0</div>
                  <div fxFlex="50" fxLayoutAlign="center end">{{calculos.subtotalIva0}}</div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex="50">Subtotal</div>
                  <div fxFlex="50" fxLayoutAlign="center end">{{calculos.subtotal}}</div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex="50">Descuento</div>
                  <div fxFlex="50" fxLayoutAlign="center end">{{calculos.descuento}}</div>
                </div>
                <div fxLayout="row wrap">
                  <div fxFlex="50">Total</div>
                  <div fxFlex="50" fxLayoutAlign="center end">{{calculos.total}}</div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    </mat-card-content>

    <mat-card-footer>

      <div fxLayout="row" fxLayout.xs="column" fxFlex class="form-buttons-container">

        <button class="form-button" [disabled]="comprobantesForm.invalid"
                type="submit" mat-button mat-raised-button color="primary">
          Aceptar
        </button>

        <button
          class="form-button"
          type="button" mat-button mat-raised-button
          color="warn" (click)="onCancel()">
          Cancelar
        </button>

      </div>

    </mat-card-footer>

  </form>

</mat-card>
