<h2 mat-dialog-title>Editar Forma de Pago</h2>
<mat-dialog-content>
  <form #f="ngForm" class="example-form">
    <div fxLayout="column">

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput [ngModel]="formaDePago.Id" #Id="ngModel" maxlength="10" name="Id" id="Id" placeholder="Id" required>
        <mat-hint>Máximo 10 caracteres</mat-hint>
        <mat-error *ngIf="!Id.valid && Id.touched">
          The content field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="50" class="example-full-width">
        <input matInput [ngModel]="formaDePago.Nombre" #Nombre="ngModel" name="Nombre" id="Nombre" placeholder="Nombre" required>
        <mat-error *ngIf="!Nombre.valid && Nombre.touched">
          The content field is required
        </mat-error>
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onSubmit()">Adicionar</button>
</mat-dialog-actions>
